* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::before, 
*::after {
	box-sizing: border-box;
}
body {
	background: linear-gradient(to left, #00AAFF, #00eaff95);
	font-family: 'Poppins', sans-serif;
}
.calculator-grid {
	display: grid;
	width: 100%;
	margin: 80px auto;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
	gap: 3px;
	box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.1);
}
.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: none;
	outline: none;
	background-color: rgba(255,255,255, 0.1);
	box-shadow: 2px 2px 3px 1px rgba(116, 132, 162, 0.125);
	transition: .1s linear ;
}
.calculator-grid > button:hover {
	background: #35ffbc41;
	box-shadow: inset -2px -2px 3px 1px rgba(237, 237, 237, 0.294) , 
							inset 2px 2px 2px 1px rgba(87, 96, 112, 0.457);
	
	transform: scale(0.99);					
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous-operand {
	color: rgba(255,255,255, .75);
	font-size: 1.5rem;
}
.output .current-operand {
	color: white;
	font-size: 2.5rem;
}
.footer-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
	padding: 3rem;
	gap: 1rem;
}
.social {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 0 auto;
}
.social svg {
	width: 30px ;
	margin:0 10px;
}
.social .instagram {
	fill: #d91484;
}
.social .facebook {
	fill: #3b5998;
}
@media screen and (max-width: 600px) {
	html {
		font-size: 85%;
	}
	.calculator-grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: minmax(150px, auto) repeat(5, 1fr);
		padding: 0;
		width: 80% ;
		min-height: 70vh;
	}
}

@media screen and (max-width: 600px) {
	.title {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.1rem;
		position: absolute;
		left: 0;
		top: 2rem;
		right: 0;
	}
}

@media screen and (max-width: 321px) {
	html {
		font-size: 55%;
	}
	.calculator-grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: minmax(150px, auto) repeat(5, 1fr);
		padding: 0 8%;
		width: 100% ;
		min-height: 100%;
	}

}
